/* App */
.app-container {
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    gap: 1rem;
    color: var(--color-text);
    background-color: var(--color-bg);
}

.header {
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 4px;
}

.header span {
    flex-grow: 1;
}

.header__heading {
    color: var(--color-bg);
    font-weight: 300;
}

.header .btn {
    background-color: var(--color-bg);
    color: var(--color-accent);
}