/* App */
.app-container {
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
    color: var(--color-text);
    background-color: var(--color-bg);
}

.header {
    background-color: var(--color-accent);
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 4px;
}

.header span {
    flex-grow: 1;
}

.header__heading {
    font-size: 2rem;
    color: var(--color-bg);
    font-weight: 300;
}

.header .btn {
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 2px solid var(--color-text)
}

/* About Me */
.section--about-me {
    display: grid;
    row-gap: 0.2rem;
    grid-column: 1/-1;
}

.about-me__field {
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
    resize: vertical;
    box-sizing: border-box;
    padding: 0.2rem;
}

.name-field {
    color: var(--color-accent);
    font-size: 2rem;
    font-family: "Inter", sans-serif;
}

.title-field {
    color: var(--color-text-secondary);
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
}

/* Contact */
.section--contact {
    display: grid;
    gap: 1rem;
    grid-column: 1/-1;

}

.contact-section__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 2px solid var(--color-text);
    border-bottom: 2px solid var(--color-text);
    padding: 1.5rem;
}

.contact-info-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.contact-icon {
    fill: var(--color-accent);
}

/* Work Section */
.section--work {
    grid-column: 1;
    display: grid;
    row-gap: 1rem;
}

.section__header {
    color: var(--color-accent);
    font-size: 1.5rem;
    font-weight: 500;
}

.history-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.2rem;
}

.history-block-list {
    display: grid;
    row-gap: 2rem;
}

.history-block__input {
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
}

.btn--add-work {
    margin-top: 1rem;
}

.history-block__title {
    font-size: 1.3rem;
    font-weight: 500;
    grid-column: 1/-1;
}

.history-block__company {
    font-size: 1.2rem;
    grid-column: 1/-1;
}

.history-block__dates {
    color: var(--color-text-secondary);
    font-style: italic;
}

.history-block__location {
    text-align: right;
    color: var(--color-text-secondary);
    font-style: italic;
}

.history-block__summary-list {
    grid-column: 1/-1;
}

.history-block__summary-point {
    text-indent: 5px;
}

.history-block__summary-point::before {
    content: '— ';
    text-indent: 5px;
}

/* Skills */
.section--skills {
    display: grid;
    row-gap: 1rem;
    grid-column: 2;
    align-items: start;
}

.new-skill-form {
    display: flex;
    gap: 2rem;
}

.new-skill-form-input {
    flex-grow: 1;
    padding: 0.3rem;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skill-item {
    display: flex;
    align-self: center;
}

.skill-item__value {
    background-color: var(--color-text-secondary);
    border-radius: 4px;
    color: var(--color-bg);
    padding: 0.4rem;

}

.btn--delete-skill {
    background: none;
    border: none;
    min-width: fit-content;
}

.btn--delete-skill svg {
    fill: red;
}


/* Education */
.section--education {
    display: grid;
    gap: 1rem;
    grid-column: 2;
}

.education-block-list {
    display: grid;
    gap: 2rem;
}

.education-block__field {
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
}

.education-block__field--qualification {
    font-size: 1.3rem;
    font-weight: 500;
}

.education-block__field--location {
    font-size: 1.2rem;
}

.education-block__field--dates {
    color: var(--color-text-secondary);
    font-style: italic;
}